<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" type="image/png" th:href="@{/img/fav.png}">
   <title></title>
   <!-- Slick Slider -->
   <link rel="stylesheet" type="text/css" th:href="@{/assets/slick/slick.min.css}"/>
   <link rel="stylesheet" type="text/css" th:href="@{/assets/slick/slick-theme.min.css}"/>
   <!-- Feather Icon-->
   <link th:href="@{/assets/icons/feather.css}" rel="stylesheet" type="text/css">
   <!-- Bootstrap core CSS -->
   <link th:href="@{/bootstrap/css/wbbootstrap.min.css}" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link th:href="@{/assets/css/wbstyle.css}" rel="stylesheet">
</head>
   <body>
   <style>
      [v-cloak] {
         display: none;
      }

      .img-mini {
         width: 20%;
         height: 20%;
      }

      img {
         cursor: pointer;
      }
   </style>
   <div id="app" v-cloak>
      <!-- Navigation -->
      <div th:replace="main :: #MainNav"></div>
      <div class="py-4">
         <div class="container">
            <div class="row">
               <!-- Main Content -->
               <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                  <div v-for="item,index in vo">
                     <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                        <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                           <div class="dropdown-list-image mr-3">
                              <img class="rounded-circle" :src="context+item.post.user.avatar" alt="">
                              <div class="status-indicator bg-success"></div>
                           </div>
                           <div class="font-weight-bold">
                              <div class="text-truncate">{{item.post.user.nickName}}</div>
                           </div>
                           <div class="dropdown ml-auto">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                 <li v-if="!item.friend" @click="sub(item.post.user.id,$event)"><a
                                         style="cursor: pointer">关注</a></li>
                                 <li v-if="item.friend" @click="sub(item.post.user.id,$event)"><a
                                         style="cursor: pointer;display: none">关注</a></li>
                                 <li v-if="item.friend" @click="unSub(item.post.user.id,$event)"><a
                                         style="cursor: pointer">取消关注</a></li>
                                 <li v-if="!item.friend" @click="unSub(item.post.user.id,$event)"><a
                                         style="cursor: pointer;display: none">取消关注</a></li>
                                 <li v-if="item.post.user.nickName==sessionName" role="separator"
                                     class="divider"></li>
                                 <li v-if="item.post.user.nickName==sessionName"
                                     @click="deleteMyPost(item.post.id)"><a style="cursor: pointer">删除动态</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="p-3 border-bottom osahan-post-body">
                           <p class="mb-0">{{item.post.text}}</p>
                           <div v-if="item.photos!==null && item.photos.length>0">
                              <div v-for="photo in item.photos">
                                 <img :src="context+photo.url" @click="changePhotoSize($event)"
                                      class="img-mini img-fluid" alt="Responsive image">
                              </div>
                           </div>
                           <input v-if="item.video!=null" :id="'videoUrl'+item.post.id" type="hidden" :value="item.video.url">
                           <div v-if="item.video!=null" :id="'dse'+item.post.id"></div>
                        </div>
                        <div class="p-3 border-bottom osahan-post-footer">
                           <a v-if="item.good" @click="good(item.post.id,index,$event)" class="mr-3 text-secondary"
                              style="display: none;cursor: pointer">
                              <span class="mr-1 glyphicon glyphicon-heart-empty text-danger"></span>{{item.post.good}}
                           </a>
                           <a v-if="item.good" @click="cancelGood(item.post.id,index,$event)"
                              class="mr-3 text-secondary" style="cursor: pointer">
                              <span class="mr-1 glyphicon glyphicon-heart text-danger"></span>{{item.post.good}}
                           </a>
                           <a v-if="!item.good" @click="cancelGood(item.post.id,index,$event)"
                              class="mr-3 text-secondary" style="display: none;cursor: pointer">
                              <span class="mr-1 glyphicon glyphicon-heart text-danger"></span>{{item.post.good}}
                           </a>
                           <a v-if="!item.good" @click="good(item.post.id,index,$event)"
                              class="mr-3 text-secondary" style="cursor: pointer">
                              <span class="mr-1 glyphicon glyphicon-heart-empty text-danger"></span>{{item.post.good}}
                           </a>
                           <a @click="showCommons(item.post.id)" v-if="item.commons!=null"
                              style="margin-right: 20rem;cursor: pointer"
                              class="text-secondary"><i
                                   class="feather-message-square"></i> {{item.commons.length}}</a>
                           <a v-else @click="showCommons(item.post.id)" style="margin-right: 20rem;cursor: pointer"
                              class="text-secondary"><i
                                   class="feather-message-square"></i> 0</a>
                           <span style="color: #888da8" class="small">{{item.post.postTime}}</span>
                        </div>
                        <div :id="'commons'+item.post.id" style="display: none">
                           <div v-if="item.commons!==null&&item.commons.length>0" v-for="common in item.commons">
                              <div class="p-3 d-flex align-items-top border-bottom osahan-post-comment">
                                 <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" :src="context+common.user.avatar" alt="">
                                    <div class="status-indicator bg-success"></div>
                                 </div>
                                 <div class="font-weight-bold">
                                    <div class="text-truncate">{{common.user.nickName}}
                                    </div>
                                    <div class="small text-gray-500">
                                       {{common.text}}
                                    </div>
                                 </div>
                                 <span class="ml-auto small">{{common.commonTime}}</span>
                              </div>
                           </div>
                           <div class="p-3">
                                    <textarea :id="'comText'+item.post.id" name="text" placeholder="写下你的评论"
                                              class="form-control border-0 p-0 shadow-none"
                                              rows="1"></textarea>
                           </div>
                           <div>
                              <button @click="postCommon(item.post.id,index)"
                                      class="btn btn-outline-secondary btn-sm btn-block">提交
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </main>
               <aside id="MySelf" class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                  <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                     <div class="py-4 px-3 border-bottom">
                        <img :src="context+userVo.user.avatar" class="img-fluid mt-2 rounded-circle"
                             alt="Responsive image">
                        <h5 class="font-weight-bold text-dark mb-1 mt-4">{{userVo.user.nickName}}</h5>
                     </div>
                     <div class="d-flex">
                        <div class="col-6 border-right p-3">
                           <h6 class="font-weight-bold text-dark mb-1">{{userVo.fs}}</h6>
                           <p class="mb-0 text-black-50 small">粉丝</p>
                        </div>
                        <div class="col-6 p-3">
                           <h6 class="font-weight-bold text-dark mb-1">{{userVo.gz}}</h6>
                           <p class="mb-0 text-black-50 small">关注数</p>
                        </div>
                     </div>
                     <div class="overflow-hidden border-top">
                        <a class="font-weight-bold p-3 d-block" :href="context+'profile/'+userVo.user.id"> 个人主页</a>
                     </div>
                  </div>
                  <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                     <img th:src="@{/img/job1.png}" class="img-fluid" alt="Responsive image">
                     <div class="p-3 border-bottom">
                        <h6 class="font-weight-bold text-dark">Osahan Solutions</h6>
                        <p class="mb-0 text-muted">Looking for talent?</p>
                     </div>
                     <div class="p-3">
                        <button type="button" class="btn btn-outline-primary pl-4 pr-4"> POST A JOB</button>
                     </div>
                  </div>
               </aside>
            </div>
         </div>
      </div>
   </div>
      <!-- Bootstrap core JavaScript -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" th:src="@{/assets/slick/slick.min.css}"></script>
      <!-- Custom scripts for all pages-->
      <script th:src="@{/js/osahan.js}"></script>
   <script th:src="@{/js/sweetalert.min.js}"></script>
   <!--vue-->
   <script th:src="@{/js/axios.min.js}"></script>
   <script th:src="@{/js/vue.min.js}"></script>
   <!--video-->
   <script src="//cdn.jsdelivr.net/npm/xgplayer/browser/index.js" type="text/javascript"></script>
   <script type="text/javascript">
      const context = "[[@{/}]]";
      const sessionName = "[[${session.login_user.nickName}]]";
      new Vue({
         el: '#app',
         data: {
            context: context,
            id:'[[${id}]]',
            vo: [
               {
                  post: {
                     user: {}
                  },
                  video: {},
                  photos: [],
                  commons: [
                     {
                        user: {},
                        post: {},
                     }
                  ]
               },
            ],
            userVo: {
               user: {}
            },
            pageNum: '1',
            canLoadMore: true,
            loadVideo:1,
         },

         methods: {
            postCommon: function (id, index) {
               axios({
                  url: context + "main/common",
                  method: 'post',
                  data: {text: $("#comText" + id).val(), post: {id: id}}
               }).then(response => {
                  if (response.data.result.code === 200) {
                     swal("回复成功", {icon: 'success', buttons: false, timer: 1000}).then(() => {
                        let newCommon = response.data.result.data;
                        console.log(newCommon);
                        this.$set(this.vo[index].commons, this.vo[index].commons.length, newCommon);
                        // this.vo[index].commons[this.vo[index].commons.length]=newCommon;
                     });
                  } else {
                     swal(response.data.result.msg[0], {icon: 'error'});
                  }
               }).catch(response => {
                  console.log(response);
               });
            },
            showCommons: function (id) {
               let dom = $("#commons" + id);
               if (dom.is(':hidden')) {
                  dom.show();
               } else {
                  dom.hide();
               }
            },
            unSub: function (id, event) {
               axios({
                  url: this.context + "main/sub/" + id,
                  method: 'delete',
               }).then(response => {
                  if (response.data.result.code === 200) {
                     swal(response.data.result.msg[0], {icon: 'success', buttons: false, timer: 1000});
                     const dom = $(event.target);
                     dom.hide();
                     dom.parent("li").prev("li").children("a").show();
                  } else {
                     swal(response.data.result.msg[0], {icon: 'error'});
                  }
               }).catch(response => {
                  console.log(response);
               });
            },
            sub: function (id, event) {
               if (id === this.userVo.user.id) {
                  swal("不能关注自己", {icon: "error", buttons: false, timer: 1000});
               } else {
                  axios({
                     url: this.context + "main/sub/" + id,
                     method: 'get',
                  }).then(response => {
                     if (response.data.result.code === 200) {
                        swal(response.data.result.msg[0], {icon: 'success', buttons: false, timer: 1000});
                        const dom = $(event.target);
                        dom.hide();
                        dom.parent("li").next("li").children("a").show();
                     } else {
                        swal(response.data.result.msg[0], {icon: 'error'});
                     }
                  }).catch(response => {
                     console.log(response);
                  });
               }
            },
            cancelGood(id, index, event) {
               axios({
                  url: this.context + "main/good/" + id,
                  method: 'delete',
               }).then(response => {
                  if (response.data.result.code === 200) {
                     swal("取消赞成功", {icon: "success", buttons: false, timer: 1000});
                     let dom = $(event.target);
                     if (dom.is("span")) {
                        dom = dom.parent("a");
                     }
                     this.vo[index].post.good--;
                     dom.hide();
                     dom.next("a").show();
                  } else {
                     swal(response.data.result.msg[0], {icon: 'error'});
                  }
               }).catch(response => {
                  console.log(response);
               });
            },
            good: function (id, index, event) {
               axios({
                  url: this.context + "main/good/" + id,
                  method: 'put',
               }).then(response => {
                  if (response.data.result.code === 200) {
                     swal("点赞成功", {icon: "success", buttons: false, timer: 1000});
                     let dom = $(event.target);
                     if (dom.is("span")) {
                        dom = dom.parent("a");
                     }
                     this.vo[index].post.good++;
                     dom.hide();
                     dom.prev("a").show();
                  }
               }).catch(response => {
                  console.log(response);
               });
            },
            changePhotoSize: function (event) {
               const photo = $(event.target);//DOM对象转JQuery对象
               if (photo.hasClass("img-mini")) {
                  photo.removeClass("img-mini");
               } else {
                  photo.addClass("img-mini");
               }
            },
            deleteMyPost: function (id) {
               swal({
                  title: "是否确定删除动态？",
                  text: "删除无法恢复您的动态信息，是否继续？",
                  icon: "warning",
                  dangerMode: true,
                  buttons: ['取消', '删除'],
               }).then(result => {
                  if (result) {
                     axios({
                        url: context + "main/post",
                        method: 'delete',
                        params: {
                           id: id
                        }
                     }).then(response => {
                        if (response.data.result.code === 200) {
                           swal("删除动态成功！", {icon: 'success'}).then(function () {
                              window.location.reload();
                           });
                        } else {
                           swal(response.data.result.msg[0], {icon: 'error'});
                        }
                     }).catch(response => {
                        console.log(response);
                     });

                  }
               })
            },
            getPost: function () {
               const self = this;
               axios({
                  url: context + "main/post/user",
                  method: 'get',
                  params: {pageNum: self.pageNum++,id:self.id},
               }).then(function (response)  {
                  if (response.data.result.code === 200) {
                     console.log(response.data.result);
                     $.each(response.data.result.data, function (i, vo) {
                        if (self.vo.length === 1) {
                           self.$set(self.vo, i, vo);
                        } else {
                           self.$set(self.vo, self.vo.length, vo);
                        }
                        if(vo.video!=null){
                           self.$nextTick(function () {
                              let player = new Player({
                                 id: 'dse'+vo.post.id,
                                 url: self.context+'/'+$("#videoUrl"+vo.post.id).val(),
                                 fluid:true,
                              });
                           });
                        }
                     });
                  } else {
                     self.pageNum--;
                  }
               }).catch(function (response) {
                  console.log(response);
               });
            }
         },
         mounted: function () {
            // swal('vue is online!',{icon:'success'});
            const self = this;
            this.getPost();
            axios({
               url: context + "main/api/userCondition",
               method: 'get',
               params:{id:self.id},
            }).then(response => {
               if (response.data.result.code === 200) {
                  self.userVo = response.data.result.data;
               } else {
                  swal(response.data.result.msg[0], {icon: 'error'});
               }
            }).catch(response => {
               console.log(response);
            });
            window.addEventListener('scroll', function () {
               const scr = document.documentElement.scrollTop || document.body.scrollTop; // 向上滚动的那一部分高度
               const clientHeight = document.documentElement.clientHeight; // 屏幕高度也就是当前设备静态下你所看到的视觉高度
               const scrHeight = document.documentElement.scrollHeight || document.body.scrollHeight; // 整个网页的实际高度，兼容Pc端
               if (scr + clientHeight >= scrHeight) {
                  if (self.canLoadMore) { //this.isMoreLoad控制滚动是否加载更多
                     self.getPost();
                  } else {
                     return;
                  }
               }
            });

         }
      });
   </script>
   </body>
</html>